---
import { resolved, type Lang } from '../i18n/strings';

interface Props {
  lang: Lang;
}
const { lang } = Astro.props;
const t = resolved(lang);
---
<footer class="site-footer">
  <div class="container">
    <div class="row between">
      <div>{t.sefariaFooter}</div>
      <div class="copyright">{t.copyright}</div>
    </div>
  </div>
</footer>
