---
import { strings, DEFAULT_LANG } from '../i18n/strings';

const t = strings[DEFAULT_LANG];
---
<footer class="site-footer">
  <div class="container">
    <div class="row between">
      <div data-i18n="sefariaFooter">{t.sefariaFooter}</div>
      <div class="copyright" data-i18n="copyright">{t.copyright}</div>
    </div>
  </div>
</footer>
